/venv/
/.idea/FitAware.iml
/modules/All_Icons.py
/modules/chooseChip.py
/modules/pong.kv
/modules/voiceRecognitiation.py
/modules/main.py
/modules/kivyCamera-old.py
/Time_of_movements.csv
/speech.py
/.idea/inspectionProfiles/profiles_settings.xml
/output/output.avi
/main.py
/build/
/dist/
/FitAwareGUI.spec
/modules/test.py
/.idea/misc.xml~aea826ed3a077fdb857bedf3f4428b0aec2f71fd
