imutils==0.5.3
Kivy-Garden==0.1.4
kivy==2.0.0rc4
kivymd==0.104.1
numpy==1.19.4
pyttsx3==2.90
scipy==1.5.3
six==1.15.0
SpeechRecognition==3.7.1
urllib3==1.26.2
Werkzeug==1.0.1
wincertstore==0.2
opencv==4.5.0
